option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: busapp.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
     /static/: /static/
     
 

container_commands:
  01_echo:
    command: "echo 'Collecting static files'"
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
