option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: busapp.wsgi:application  # Adjust this to your Django wsgi.py file location
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "busapp.settings"  # Adjust this to your settings module
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: "static"  # Adjust if your STATIC_URL is different in settings.py
    /media: "media" 